hostname = testflight.apple.com

^https:\/\/testflight\.apple\.com\/v3\/accounts/.*\/apps$ url script-request-header https://raw.githubusercontent.com/Doann7457/testflight-auto-john/main/TF_khoa.js

^https://testflight.apple.com/join/(.*) url script-request-header https://raw.githubusercontent.com/Doann7457/testflight-auto-john/main/TF_khoa.js
